
{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'contract_type_create' company_id %}">Create new contract type</a>

</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'tenancy_list' %}">Back to tenancy list</a>

</li>
{% endblock %}
{% block content %}


<div class="col">

  <!-- Display objects -->
  {% for object in object_list %}

  <div class="card shadow p-3 mb-5 bg-body rounded" >
    <div class="card-body">
      <h5 class="card-title"> {{ object.description }}</h5>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contract_type_details' company_id object.contract_type_id %}">Details</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contract_type_update' company_id object.contract_type_id %}">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contract_type_delete' company_id object.contract_type_id %}">Delete</a>
        </li>
      </ul>
    </div>
  </div>
  {% empty %}
  <p>No objects yet</p>
  {% endfor %}

</div>

{% endblock %}
