{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}
<li class="nav-item">
    {% if list_page|length == 1 %}
    <a class="nav-link" aria-current="page" href="{% url list_page.0 %}">Return</a>
    {% else %}
    <a class="nav-link" aria-current="page" href="{% url list_page.0 list_page.1 %}">Return</a>
    {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="container">
    {# General information section #}
    <h2>General information</h2>

    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">



            <div class="table-responsive">
                <table class="table">

                    {% for key, value in object.get_details.items %}
                    <thead>
                        <tr>
                            <th scope="col">{{key}}</th>
                            <th scope="col">{{value}}</th>
                        </tr>
                    </thead>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        {% for key, value in object.get_details.items %}
        <div class="col-md-6 col-xl-3 mb-4">

            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>{{key}}</span>
                            </div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>{{value}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>


        {# Components list section #}
        <h2>Components</h2>
        {# Table header #}
        <div class="row">
            <div class="col-lg-4">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px; padding-left: 20px">Base component - description</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">VAT rate</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Start date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">End date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Invoiced until</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Unit id</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Number of units</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Unit price</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Base price</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">VAT</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Total</h5>
            </div>
            {# Empty column header for update & delete links #}
            <div class="col"></div>
        </div>

        {# Table contents #}
        {% for component in object.get_components %}
            <div class="card shadow p-1 mb-2 bg-body rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5 class="card-title"> {{ component.base_component.description }} - {{ component.description }}</h5>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.vat_rate }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.start_date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.end_date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.date_prolonged_until }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.unit_id }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ component.number_of_units }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ component.unit_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ component.base_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ component.vat_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ component.total_amount|floatformat:2 }}</p>
                        </div>
                        {# Update and delete links #}
                        <div class="col">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'component_update' company_id object.contract_id component.component_id %}">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'component_delete' company_id object.contract_id component.component_id %}">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>No objects yet</p>
        {% endfor %}

        {# Contract persons list section #}
        <h2>Persons</h2>
        {# Table header #}
        <div class="row">
            <div class="col-lg-2">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px; padding-left: 20px">Name</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Address - city</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Payment method</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">IBAN</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Mandate</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Email</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Percentage</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Start date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">End date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Payment day</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Type</h5>
            </div>
            {# Empty column header for update & delete links #}
            <div class="col"></div>
        </div>

        {# Table contents #}
        {% for person in object.get_contract_persons %}
            <div class="card shadow p-1 mb-2 bg-body rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <h5 class="card-title"> {{ person.name }}</h5>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.address }} - {{ person.city }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.payment_method }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.iban }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.mandate }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.email }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.percentage_of_total }}%</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.start_date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.end_date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.payment_day }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ person.type }}</p>
                        </div>
                        {# Update and delete links #}
                        <div class="col">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contract_person_update' company_id object.contract_id person.contract_person_id %}">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contract_person_delete' company_id object.contract_id person.contract_person_id %}">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>No objects yet</p>
        {% endfor %}

        {# Invoices section (paginated) #}
        {# Table header #}
        <div class="row">
            <div class="col-lg-4">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px; padding-left: 20px">Invoice number</h5>
            </div>
            <div class="col-sm-1 text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Description</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Expiration date</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Base amount</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">VAT</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Total amount</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Balance</h5>
            </div>
            <div class="col text-left">
                <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Payment received</h5>
            </div>
            {# Empty column header for update & delete links #}
            <div class="col"></div>
        </div>

        {# Table contents #}
        {% for invoice in page_obj %}
            <div class="card shadow p-1 mb-2 bg-body rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5 class="card-title"> {{ invoice.invoice_number }}</h5>
                        </div>
                        <div class="col-sm-1 text-left">
                            <p>{{ invoice.description }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ invoice.date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>{{ invoice.expiration_date }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ invoice.base_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ invoice.vat_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ invoice.total_amount|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>€{{ invoice.balance|floatformat:2 }}</p>
                        </div>
                        <div class="col text-left">
                            <p>Payment received?</p>
                        </div>
                        {# Details link #}
                        <div class="col">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'invoice_details' company_id invoice.invoice_id %}">Details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>No invoices yet</p>
        {% endfor %}
    </div>
<!-- Create the pagination back and next links  -->
<div class="col">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

</div>





{% endblock %}