<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract list</title>
</head>
<body>
    <!-- Display objects -->
    {% for contract in contract_list %}
        <p>description: {{ contract.description }}</p>
        <!-- Give the user options to view, update, and delete the contract type -->
        <p><a href="{% url 'contract_details' company_id contract.contract_id %}">Details</a></p>
        <p><a href="{% url 'contract_update' company_id contract.contract_id %}">Update</a></p>
        <p><a href="{% url 'contract_delete' company_id contract.contract_id %}">Delete</a></p>

        ----<br>

        {% for component in contract.get_components %}
            <p>
                component: {{ component.description }}
                <a href="{% url 'component_update' company_id contract.contract_id component.component_id %}">Update component</a>
                <a href="{% url 'component_delete' company_id contract.contract_id component.component_id %}">Delete component</a>
            </p>
        {% empty %}
            No components
        {% endfor %}

        <p>
            <a href="{% url 'component_create' company_id contract.contract_id %}">Create component</a>
        </p>

        ----<br>

        {% for contract_person in contract.get_contract_persons %}
            <p>
                contract person: {{ contract_person.name }}
                <a href="{% url 'contract_person_update' company_id contract.contract_id contract_person.contract_person_id %}">Update contract person</a>
                <a href="{% url 'contract_person_delete' company_id contract.contract_id contract_person.contract_person_id %}">Delete contract person</a>
            </p>
        {% empty %}
            No contract persons
        {% endfor %}

        <p>
            <a href="{% url 'contract_person_create' company_id contract.contract_id %}">Create contract person</a>
        </p>

        <hr/>
    <!-- If object_list is empty  -->
    {% empty %}
        <p>No objects yet</p>
    {% endfor %}
    <p><a href="{% url 'contract_create' company_id %}">Create new contract</a></p>
    <p><a href="{% url 'tenancy_list' %}">Back to tenancy list</a></p>

</body>
</html>
