{% extends 'InvoiceEngineApp/base.html' %}

{% block content %}
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <h5 class="card-title"> {{ object.name }}</h5>

                <ul class="list-group list-group-flush">
                    <form method="POST" enctype="multipart/form-data">

                        <!-- Security token -->
                        {% csrf_token %}

                        <!-- Using the formset -->
                        {{ form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
