
{% extends 'InvoiceEngineApp/base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <!-- Some pages require a link back to the proper company_id. -->
        {% if list_page|length == 1 %}
            <p><a href="{% url list_page.0 %}">Return to list</a></p>
        {% else %}
            <p><a href="{% url list_page.0 list_page.1 %}">Return to list</a></p>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
