{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'tenancy_list'%}">Company list</a>
    </li>
{% endblock %}


{% block content %}
 <div class="row">
        <div class="col-lg-4">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px; padding-left: 20px">Invoice number</h5>
        </div>
        <div class="col-sm-1 text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Description</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Date</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Expiration date</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Base amount</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">VAT</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Total amount</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Balance</h5>
        </div>
        <div class="col text-left">
            <h5 class="header" style="padding-top: 15px; padding-bottom: 10px">Payment received</h5>
        </div>
        {# Empty column header for update & delete links #}
        <div class="col"></div>
    </div>
    {% for invoice in page_obj %}
    <div class="card shadow p-1 mb-2 bg-body rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="card-title"> {{ invoice.invoice_number }}</h5>
                </div>
                <div class="col-sm-1 text-left">
                    <p>{{ invoice.description }}</p>
                </div>
                <div class="col text-left">
                    <p>{{ invoice.date }}</p>
                </div>
                <div class="col text-left">
                    <p>{{ invoice.expiration_date }}</p>
                </div>
                <div class="col text-left">
                    <p>€{{ invoice.base_amount|floatformat:2 }}</p>
                </div>
                <div class="col text-left">
                    <p>€{{ invoice.vat_amount|floatformat:2 }}</p>
                </div>
                <div class="col text-left">
                    <p>€{{ invoice.total_amount|floatformat:2 }}</p>
                </div>
                <div class="col text-left">
                    <p>€{{ invoice.balance|floatformat:2 }}</p>
                </div>
                <div class="col text-left">
                    <p>Payment received?</p>
                </div>
                {# Details link #}
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'invoice_details' company_id invoice.invoice_id %}">Details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <p>No invoices yet</p>
    {% endfor %}
    <!-- Create the pagination back and next links  -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <p><a href="{% url 'tenancy_list' %}">Return to company list</a></p>
{% endblock %}