{% extends 'InvoiceEngineApp/base.html' %}

{% block content %}
    <!-- Display objects -->
    {% for invoice in page_obj %}
        <p>description: {{ invoice.description }}</p>
        <!-- Give the user options to view, update, and delete the contract type -->
        <p><a href="{% url 'invoice_details' company_id invoice.invoice_id %}">Details</a></p>

        ----<br>

        {% for invoice_line in invoice.get_invoice_lines %}
            <p>
                invoice line: {{ invoice_line.description }}
            </p>
        {% empty %}
            No invoice lines
        {% endfor %}
        <hr/>
    <!-- If object_list is empty  -->
    {% empty %}
        <p>No objects yet</p>
    {% endfor %}

    <!-- Create the pagination back and next links  -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <p><a href="{% url 'tenancy_list' %}">Back to tenancy list</a></p>
{% endblock %}