{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="col">
    <!-- Display objects -->
{% for object in page_obj %}
    <div class="card shadow p-3 mb-5 bg-body rounded">

        <div class="card-body">

            <div class="row">
                <div class="col">
                <h5 class="card-title"> {{ object.name }}</h5>

                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            href="{% url 'tenancy_details' object.company_id %}">Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            href="{% url 'tenancy_update' object.company_id %}">Update</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            View
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'contract_type_list' object.company_id %}">Contract
                                                    types</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'base_component_list' object.company_id %}">Base
                                                    components</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'vat_rate_list' object.company_id %}">VAT
                                                    rates</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'contract_list' object.company_id %}">Contracts</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'invoice_list' object.company_id %}">Invoices</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{% url 'glpost_list' object.company_id %}">General
                                                    ledger</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <a class="btn btn-outline-success" href="{% url 'invoice_contracts' object.company_id %}">Invoice
                        contracts</a>
                </div>


            </div>

        </div>


        </div>                        {% empty %}
            <p>No objects yet</p>
            {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endblock %}