{% extends 'InvoiceEngineApp/base.html' %}

{% block navbar %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Actions
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

    <li><a class="dropdown-item" href="{% url 'tenancy_create' %}">Create new tenancy</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}

<div class="container-fluid">
{% for object in object_list %}
  <div class="row">
    <div class="col">
      <!-- Display objects -->

      <div class="accordion accordion-flush" id="tenancy_list">
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              {{ object.name }}
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#tenancy_list">
            <div class="accordion-body">

              <!-- Give the user options to view, update, and delete the tenancy -->
              <p><a href="{% url 'tenancy_details' object.company_id %}">Details</a></p>
              <p><a href="{% url 'tenancy_update' object.company_id %}">Update</a></p>
              <p><a href="{% url 'tenancy_delete' object.company_id %}">Delete</a></p>

              <p>
                <a href="{% url 'contract_type_list' object.company_id %}">View contract types</a> <br>
                <a href="{% url 'base_component_list' object.company_id %}">View base components</a> <br>
                <a href="{% url 'vat_rate_list' object.company_id %}">View VAT rates</a> <br>
                <a href="{% url 'contract_list' object.company_id %}">View contracts</a> <br>
                <a href="{% url 'invoice_list' object.company_id %}">View invoices</a> <br>

                {#            This is for testing the invoice engine#}
                <a target="_blank" href="{% url 'invoice_contracts' object.company_id %}">Invoice contracts</a>

              </p>
            </div>
          </div>
        </div>
      </div>



    </div>


  </div>

      <!-- If object_list is empty  -->
      {% empty %}
      <p>No objects yet</p>
      {% endfor %}
</div>

{% endblock %}